.footer{
    margin-top: 1rem;
    padding-top:10px ;
    background-color: rgb(2, 7, 34);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .App{
    color: hsl(120, 13%, 89%);
    text-align: center;
   }